{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Submit new Idea</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", rows=3) }}
            {% for error in form.content.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
